body{
    background-image: url("../images/bg.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.nav_div{
    position: fixed;
    right: 0px;
    width: -webkit-fill-available;
}

.info{
    padding: 0px 0px 0px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    text-align: justify;
    width: 70%;
    margin-left: 230px;
}

.img{
    width: 800px;
    height: 400px;
}

.leftimg{
    position: absolute;
    width: 240px;
    top: 200px;
    height: 600px;
}

.rightimg{
    position: absolute;
    width: 240px;
    top: 200px;
    height: 600px;
    right: 5px;
}