.que{
    font-size: 25px;
    display: inline-block;
    /* background-color: rgb(197, 232, 232); */
    background-color: white;
    padding: 10px;
    width: 300px;
    margin: 20px;
}

.main{
    margin-top: 35px;
    padding: 30px;
}

input{
    font-size: 22px;
}

button{
    width: 150px;
    height: 80px;
    font-size: 30px;
}