<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% block title %}
    {% endblock %}
</head>
    <div class="nav_div">
        <ul class="nav">
            <li>
                <a href="#aboutus">about</a>
            </li>
            <li>
            <a href="test">Test</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            
        </ul>
    </div>
    {% block body %}
    {% endblock %}
</html>